@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Playball&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
   width: 100%;
   background-color: #f6f6f6;
}

h1 {
   font-size: 3.5em;
   font-weight: bold;
   line-height: 60px;
}

h2 {
   font-size: 2.2em;
   font-weight: bold;
}

h3 {
   font-size: 1.8em;
   font-weight: bold;
}

h4 {
   font-size: 1.2em;
   font-weight: 600;
}

h5 {
   font-size: 0.9em;
   font-weight: bold;
}

h6 {
   font-size: 0.8em;
   font-weight: 600;
}

p {
   font-size: 1.1em;
   line-height: 30px;
}

.section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 50px 50px 25px 50px;
}

.cards {
   margin-top: 50px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}

.logo {
   font-family: "Playball", sans-serif;
   font-size: 1.5em;
   font-weight: 500;
}

#mobile-nav {
   display: none;
}

/* NAVBAR START */

nav {
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: aliceblue;
   padding: 0 50px;
   box-shadow: 0 5px 15px rgb(0, 0, 0, 0.08);
   position: fixed;
   z-index: 999;
}

nav li {
   list-style: none;
   display: inline-block;
}

nav li a {
   text-decoration: none;
   font-size: 0.9em;
   font-weight: 600;
   color: #1a1a1a;
   margin-left: 40px;
   transition: 0.3s ease;
   position: relative;
}

nav li a:hover,
nav li a.active {
   color: #ec840e;
}

nav li a.active::after {
   content: "";
   width: 50%;
   height: 2px;
   position: absolute;
   bottom: -4px;
   left: 0;
   background-color: #ec840e;
}

/* HERO START */

#hero {
   background-color: #d4dae7;
   height: 100vh;
   position: relative;
   z-index: -1;
   overflow: hidden;
}

#hero .hero-text {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: 50px;
}

#hero .hero-text h1 {
   color: #233747;
   width: 60%;
   margin-bottom: 15px;
}

#hero .hero-text p {
   color: #233747;
   width: 50%;
   margin-bottom: 15px;
}

#hero .hero-text button {
   padding: 15px 30px;
   border-radius: 10px;
   font-size: 1em;
   font-weight: bold;
   color: #fff;
   background-color: #ec840e;
   border: none;
   box-shadow: 3px 0 4px rgba(32, 190, 108, 0.08);
   margin-top: 25px;
}

#hero img {
   width: 60%;
   position: absolute;
   bottom: 0;
   right: -50px;
}

/* ABOUT SECTION START */

#about p {
   text-align: center;
   margin-top: 15px;
   font-size: 1.1em;
   font-weight: 500;
   line-height: 40px;
}

/* FEATURED SECTION START */

#featured .feature-card {
   padding: 25px;
   width: 300px;
   height: 415px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
   background-color: #fff;
}

#featured .feature-card img {
   width: 90%;
   margin-bottom: 20px;
}

#featured .feature-card p {
   text-align: justify;
}

/* ARTICLES SECTION START */

#articles {
   margin: 50px 0 25px 0;
}

#articles .article {
   width: 100%;
   height: 380px;
   background-size: cover;
   background-position: center;
   background-color: #233747;
}

#articles #cat {
   background-image: url("Images/cat.jpg");
}

#articles #dog {
   background-image: url("Images/dog-cp.jpg");
}

#articles .article-content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 55%;
   height: 100%;
   padding: 50px;
   color: white;
}

#articles .article-content p {
   margin-top: 15px;
   font-size: 1em;
   line-height: 40px;
}

#articles .article-content h5 {
   color: rgb(205, 205, 205);
}

#articles #dog .article-content {
   float: right;
}

#articles #dog .article-content h2,
#articles #dog .article-content p,
#articles #dog .article-content h5 {
   text-align: right;
}

/* REVIEWS SECTION START */

#reviews .review-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 300px;
   height: 300px;
   padding: 30px;
   border-radius: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
   background-color: #fff;
}

#reviews .profile {
   display: flex;
   align-items: flex-start;
   gap: 15px;
   margin-bottom: 30px;
}

#reviews .profile img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

#reviews .profile p {
   font-size: 0.8em;
   color: #515151;
   line-height: 25px;
   margin-top: 0;
}

#reviews p {
   font-size: 0.8em;
   line-height: 25px;
   font-weight: 500;
   margin-top: 5px;
}

#reviews .stars {
   display: flex;
   justify-content: flex-start;
   gap: 5px;
   color: #ec840e;
}

footer .content {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding: 25px;
   height: 250px;
   width: 100%;
   background-color: #2b2e33;
   color: #f5f5f5;
   margin-top: 50px;
}

footer .content .logo {
   font-size: 1.6em;
}

footer .content p {
   font-size: 0.9em;
   width: 45%;
   text-align: center;
}

footer .content .media {
   display: flex;
   gap: 15px;
}

footer .copyright {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 50px;
   padding: 10px 50px;
   background-color: #1e2023;
   color: #f5f5f5;
}

footer .copyright p {
   font-size: 0.85em;
}

footer .copyright li {
   list-style: none;
   display: inline-block;
}

footer .copyright li a {
   color: #f5f5f5;
   text-decoration: none;
   font-size: 0.9em;
   font-weight: 500;
   margin-left: 40px;
   transition: 0.3s ease;
}

footer .copyright li a:hover {
   color: #979797;
}

/* BREED PAGE */

/* HEADER START */

#breed-hero {
   height: 350px;
   background-image: url("Images/breed-hero.jpg");
   background-size: cover;
   background-position: top;
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
   color: #f5f5f5;
   position: relative;
   z-index: -1;
}

#breed-hero::after {
   content: "";
   position: absolute;
   height: 350px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.25);
   top: 0;
   right: 0;
   z-index: inherit;
}

/* SEARCH SECTION START */

#search {
   min-height: 250px;
   justify-content: flex-start;
}

#search-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

#search-container .shadow-input {
   border: none;
   padding: 10px 16px;
   background-color: #fff;
   color: #333;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

#search-container .radio-group {
   display: flex;
}

#search-container input[type="radio"] {
   display: none;
}

#search-container label {
   display: inline-block;
   cursor: pointer;
}

#search-container input[type="radio"]:checked + label {
   background-color: #ec840e;
   color: #fff;
}

#search-container input[type="radio"] + label:hover {
   background-color: #d47100;
}

#search-container .cats-label {
   border-radius: 25px 0 0 25px;
}

#search-container .dogs-label {
   border-radius: 0 25px 25px 0;
}

#search-container .all-label {
   z-index: 99;
}

#search-container .text-input {
   position: relative;
}

#search-container input[type="text"] {
   width: 300px;
   border-radius: 25px;
}

#search-container input[type="text"]:focus {
   outline: none;
}

#search-container button {
   width: 45px;
   height: 45px;
   border: none;
   border-radius: 50%;
   background-color: #ec840e;
   color: #f5f5f5;
   box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
   position: absolute;
   top: -5px;
   right: -5px;
}

#pet-cards {
   margin-top: 75px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 25px;
}

.pet-card {
   width: 250px;
   height: 300px;
   background-color: #fff;
   border-radius: 30px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
   margin-bottom: 25px;
   transition: transform 0.3s ease;
}

.pet-card:hover {
   box-shadow: 0 5px 20px rgba(0, 0, 10, 0.1);
   transform: scale(1.05) translateY(-15px)
}

.pet-card img {
   width: 250px;
   height: 200px;
   border-radius: 30px 30px 0 0;
}

.pet-card h3 {
   text-align: center;
   font-size: 1.3rem;
   padding: 15px;
   line-height: 30px;
}

/* Detail Card Section */

.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
   justify-content: center;
   align-items: center;
   z-index: 9999;
   transition: 0.5s;
}

#card-container {
   background-color: #fff;
   width: 90%;
   height: 85%;
   padding: 20px 25px 35px;
   border-radius: 5px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#card-container button {
   background-color: transparent;
   border: none;
   cursor: pointer;
   margin-bottom: 15px;
}

.close-button:hover i {
   color: #ec840e;
}

#card-container button i {
   font-size: 2rem;
   transition: color 0.3s;
}

#card-container #card-detail {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 50px;
   height: 90%;
}

#card-container #card-detail .identify {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#card-container #card-detail #image-detail {
   display: flex;
   justify-content: center;
   height: 300px;
   width: 300px;
   border-radius: 15px;
   overflow: hidden;
   margin-bottom: 20px;
}

#card-container #card-detail img {
   height: 300px;
}

#card-container #card-detail .details {
   padding-right: 20px;
   max-height: 100%;
   overflow-y: auto;
   width: 600px;
}

#card-container #card-detail table {
   width: 100%;
   max-height: 100%;
   border-collapse: collapse;
}

#card-container #card-detail table::-webkit-scrollbar {
   width: 10px;
}

#card-container #card-detail table::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}
#card-container #card-detail table::-webkit-scrollbar-track {
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.1);
}
#card-container #card-detail table::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.2);
}
#card-container #card-detail table::-webkit-scrollbar-thumb:hover {
   background: rgba(0, 0, 0, 0.4);
}

#card-container #card-detail table td {
   padding: 8px;
}

#card-container #card-detail table tr:hover {
   background-color: #f5f5f5;
}

#card-container #card-detail table tr:hover td {
   color: #333;
}

#card-container #card-detail .values {
   display: inline-flex;
   align-items: center;
   gap: 5px;
}

#card-container #card-detail .values i {
   color: #ec840e;
}

#card-container #card-detail table tr td:nth-child(2) {
   text-align: right;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
   #navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: aliceblue;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.25);
      padding: 80px 0 0 25px;
      transition: 0.3s ease-out;
   }

   #navbar.active {
      right: 0px;
   }

   nav li {
      margin-bottom: 30px;
   }

   nav li a {
      margin-left: 0;
   }

   #mobile-nav {
      display: inline;
   }
}
